.generic {
  &-row-container {
    display: flex;
    width: 100%;
    padding-bottom: 20px;

    &:not(:first-child) {
       margin-top: var(--base-space);
    }

    &.centered {
      justify-content: center;
    }
  }

  &-text-box {
    max-width: 100px;
    margin-right: var(--base-space);
    margin-left: var(--base-space);
    padding: var(--base-space);
    display: block;
    width: 100%;
    border: .125rem solid #0177bd;
    border-radius: .25rem;
    box-shadow: none;
  }

  &-label {
    min-width: 150px;
    white-space: nowrap;
    align-self: center;
  }
}
