.loan {

&-page-container {
  padding: 0 150px;
}

&-form-container {
  display:flex;
  align-items: center;
  flex-direction: column;
}

&-calculator {
  &-title{
    color: blue;
  }

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-product-container {
    display: flex;
  }
}

&-product {
  &-container {
    display: flex;
    flex-direction: column;
    padding: 50px;

    &.invalid {
      pointer-events: none;
      opacity: .5;
    }
  }
}

&-table-container {
  border: solid 1px black;
}

&-row {
  &-container {
    display: flex;

    &.head-row {
      border-bottom: solid 1px black;
      background-color: #ECF4FF;
    }
  }

  &-cell {
    width: 130px;
    padding: 10px;
    border-right: solid 1px black;
    display: flex;
    justify-content: center;

      &:last-child {
        border-right: none;
    }
  }
}
}
