.header {
  color: var(--tamarillo);
  font-family: var(--font);
  font-size: 45px;
  padding: 20px;

  &.centered {
    display: flex;
    justify-content: center;
  }
}

button, a {
  font-family: var(--font);
  font-size: 16px; 
}

.body-txt-normal {
  font-family: var(--font);
  font-size: 16px; 
}
